# Data Cleaning Exercise for Titanic Dataset

In [4]:
# Titanic Data Cleaning in Google Colab
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Load CSV file from Colab path
df = pd.read_csv('/content/Titanic-Dataset.csv')

# 1. Remove duplicates
df.drop_duplicates(inplace=True)

# 2. Handle missing data
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.drop(columns=['Cabin'], inplace=True)  # Too many missing values

# 3. Correct datatypes
df['Embarked'] = df['Embarked'].astype('category')
df['Sex'] = df['Sex'].astype('category')
df['Pclass'] = df['Pclass'].astype('category')

# 4. Fix inconsistent gender labels
df['Sex'] = df['Sex'].str.lower()

# 5. Encode categorical variables
le_sex = LabelEncoder()
df['Sex'] = le_sex.fit_transform(df['Sex'])

le_embarked = LabelEncoder()
df['Embarked'] = le_embarked.fit_transform(df['Embarked'])

# 6. Normalize numeric columns
scaler = StandardScaler()
numeric_cols = ['Age', 'Fare', 'SibSp', 'Parch']
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# 7. Remove outliers using z-score
z_scores = np.abs((df[numeric_cols] - df[numeric_cols].mean()) / df[numeric_cols].std())
df = df[(z_scores < 3).all(axis=1)]

# 8. Rename columns
df.rename(columns={
    'Sex': 'Gender',
    'Pclass': 'PassengerClass',
    'SibSp': 'SiblingsSpousesAboard',
    'Parch': 'ParentsChildrenAboard'
}, inplace=True)

# 9. Drop unneeded columns
df.drop(columns=['Ticket', 'Name', 'PassengerId'], inplace=True)

# 10. Save cleaned dataset (optional)
df.to_csv('/content/Titanic-Cleaned.csv', index=False)

# Show cleaned data
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 820 entries, 0 to 890
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Survived               820 non-null    int64
 1   PassengerClass         820 non-null    category
 2   Gender                 820 non-null    int64
 3   Age                    820 non-null    float64
 4   SiblingsSpousesAboard  820 non-null    float64
 5   ParentsChildrenAboard  820 non-null    float64
 6   Fare                   820 non-null    float64
 7   Embarked               820 non-null    int64
dtypes: category(1), float64(4), int64(3)
memory usage: 52.2 KB
None

/tmp/ipython-input-4-678258623.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-4-678258623.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

,Survived,PassengerClass,Gender,Age,SiblingsSpousesAboard,ParentsChildrenAboard,Fare,Embarked
0,0,3,1,-0.565736,0.432793,-0.473674,-0.502445,2
1,1,1,0,0.663861,0.432793,-0.473674,0.786845,0
2,1,3,0,-0.258337,-0.474545,-0.473674,-0.488854,2
3,1,1,0,0.433312,0.432793,-0.473674,0.420730,2
4,0,3,1,0.433312,-0.474545,-0.473674,-0.486337,2

Download cleaned CSV Dataset file

In [ ]:
from google.colab import files
files.download('/content/Titanic-Cleaned.csv')

Instructors' Code on Wk3 Day3

In [3]:
# import pandas as pd
# import numpy as np
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # Load uploaded file (adjust filename if different)
# df = pd.read_csv('Titanic-Dataset.csv')

# # 1. Rename columns for clarity
# df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
# df.rename(columns={
#     'pasenger': 'passenger',
#     'pclas': 'pclass',
#     'gender': 'sex',
#     'sibsp': 'siblings_spouses_aboard',
#     'parch': 'parents_children_aboard'
# }, inplace=True)

# # 2. Remove duplicate rows
# df.drop_duplicates(inplace=True)

# # 3. Handle missing data
# # Numeric columns: fill with median
# num_cols = df.select_dtypes(include=['float64', 'int64']).columns
# for col in num_cols:
#     df[col].fillna(df[col].median(), inplace=True)

# # Categorical columns: fill with mode
# cat_cols = df.select_dtypes(include=['object']).columns
# for col in cat_cols:
#     df[col].fillna(df[col].mode()[0], inplace=True)

# # 4. Correct datatypes
# df['age'] = pd.to_numeric(df['age'], errors='coerce')
# df['fare'] = pd.to_numeric(df['fare'], errors='coerce')

# # 5. Fix inconsistent text
# df['sex'] = df['sex'].str.lower().str.strip()
# if 'embarked' in df.columns:
#     df['embarked'] = df['embarked'].str.upper().str.strip()

# # 6. Remove outliers
# def remove_outliers(col):
#     Q1 = df[col].quantile(0.25)
#     Q3 = df[col].quantile(0.75)
#     IQR = Q3 - Q1
#     filter = (df[col] >= Q1 - 1.5 * IQR) & (df[col] <= Q3 + 1.5 * IQR)
#     return df.loc[filter]

# for col in ['age', 'fare']:
#     df = remove_outliers(col)

# # 7. Encode categorical columns
# label_encodable = ['sex', 'embarked']
# le = LabelEncoder()
# for col in label_encodable:
#     if col in df.columns:
#         df[col] = le.fit_transform(df[col])

# # 8. Normalize numerical columns
# scaler = StandardScaler()
# scaled_cols = ['age', 'fare']
# df[scaled_cols] = scaler.fit_transform(df[scaled_cols])

# # 9. Drop unnecessary columns
# drop_cols = ['ticket', 'cabin', 'name']
# df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

# # 10. Show cleaned data
# print(df.info())
# df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 718 entries, 0 to 890
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   passengerid              718 non-null    int64
 1   survived                 718 non-null    int64
 2   pclass                   718 non-null    int64
 3   sex                      718 non-null    int64
 4   age                      718 non-null    float64
 5   siblings_spouses_aboard  718 non-null    int64
 6   parents_children_aboard  718 non-null    int64
 7   fare                     718 non-null    float64
 8   embarked                 718 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 56.1 KB
None

/tmp/ipython-input-3-3964440756.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-3-3964440756.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

,passengerid,survived,pclass,sex,age,siblings_spouses_aboard,parents_children_aboard,fare,embarked
0,1,0,3,1,-0.607611,1,0,-0.751265,2
2,3,1,3,0,-0.207827,0,0,-0.700265,2
3,4,1,1,0,0.691688,1,0,2.712961,2
4,5,0,3,1,0.691688,0,0,-0.690821,2
5,6,0,3,1,-0.007934,0,0,-0.659971,1